*{
    margin: 0px;
    padding: 0px;
    
}

.home {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.sidebar {
    height: 815px;
    width: 380px;
    display: flex;
    flex-direction: column;
}
.sidebar p {
    font-family: Roboto;
    font-size: 35px;
    font-weight: 550;
    line-height: 41px;
    letter-spacing: 0.02em;
    width: 219px;
    height: 41px;
    margin-top: 15px;
    margin-left: 70px;
}

.groupNames {
    height: 830px;
    width: 350px;
    overflow-y: scroll;
}

.add-btn {
    background-color: blue;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    border: blue;
    margin-left: 260px;
    margin-top: 650px;
    position: sticky;
    cursor: pointer;
}

.notesContainer {
    background-color: lavender;
    height: 815px;
    width: 1100px;
}

.notes {
    background-color: lavender;
    height: 815px;
    width: 1100px;
}

.empty-page {
    height: 600px;
    width: 1100px;
    margin-top: 200px;
}

.empty-page img {
    margin-left: 220px;
}
.empty-page h1{
    margin-left: 420px;
}
.empty-page p {
    margin-left: 130px;
}

.rights img {
    margin-left: 420px;
    margin-top: 200px;
    margin-right: 20px;
}
 .rights {
    margin-bottom: 10px;
 }